{% extends 'base.html' %}
{% block head  %}
{% endblock %}
{% block body %}
    {% load static %}
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-top: 4%">
        <div class="carousel-indicators">
         <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        {% for object in slider%}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" >
                <img src="{{object.image.url}}" style="height: 650px" class="testi-overly d-block w-100" alt="sliderImg">
                <div class="carousel-caption d-none d-md-block">
                <h1 class="animate__animated
                {% if forloop.counter0 == 0 %}
                animate__fadeInDown
                {% endif %}
                {% if forloop.revcounter == 1 %}
                animate__bounce
                {% endif %}
                {% if forloop.revcounter == 2 %}
                animate__fadeInRight
                {% endif %}" style="margin-bottom: 35%">{{object.title}}</h1>
                {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'devices:devices-list'%}" role="button"
                       style="border-radius: 40px; height: 60px; width: 150px;">
                        <p style="margin-top: 8px">Go shop</p>
                    </a>
                {%  else %}
                    <a class="btn btn-primary" href="{% url 'login'%}" role="button"
                       style="border-radius: 40px; height: 60px; width: 150px;">
                        <p style="margin-top: 8px">Go shop</p>
                    </a>
                {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
